/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Заголовок */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 31px;
    margin: 0;
}

/* Бічне меню (панель навігації) */
nav {
    background-color: #333;
    color: #fff;
    width: 200px;
    border-bottom-right-radius: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
}

/* Контейнер для блоку "Про мене" */
.about-container {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 20px;

}
/* Заголовок другого рівня (надпис "Про мене") */
h2 {
    text-align: center;
    font-size: 24px;
}

/* Стилі для блоку заголовка "Форма реєстрації" */
.registration-header {
    background-color: #f5f5f5;
    /* Сірий колір фону */
    padding: 10px 20px;
    /* Відступи всередині блоку */
    border-radius: 10px;
    /* Заокруглені краї */
    margin-bottom: 20px;
    /* Відступ знизу */
    text-align: center;
    /* Вирівнювання тексту по центру */
}
/* Стилі для форми реєстрації */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    /* Колір кнопки */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    /* Колір кнопки при наведенні */
}

/* Стилі для контейнера форми реєстрації */
.registration-container {
    width: 300px;
    /* Ширина контейнера */
    margin: 0 auto;
    /* Вирівнювання по центру по горизонталі */
    background-color: #f5f5f5;
    /* Сірий колір фону */
    padding: 10px;
    /* Відступи всередині контейнера */
    border-radius: 0px;
    /* Заокруглені краї */
    text-align: center;
    /* Вирівнювання тексту по центру */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Тінь для контейнера */
    margin-bottom: 20px;
    /* Відступ між формою та футером */
}


/* Футер */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}


/* Стилі для контейнера "Практичні роботи" */
.work-container {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 20px;
}

.work-container h2 {
    text-align: center;
    font-size: 24px;
}

/* Стилі для контейнера "Лабораторні заняття" */
.labs-container {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 20px;
}

.labs-container h2 {
    text-align: center;
    font-size: 24px;
}




/* Стилі для таблиці розкладу */
.table-container {
  margin: 20px auto;
  max-width: 800px;
  overflow-x: auto;
  background-color: #ccc; /* Сірий фон */
  border-radius: 10px; /* Заокруглені кути */
  padding: 10px; /* Відступи всередині квадрата */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 8px 12px;
    border: 1px solid #ddd;
}

th.headday,
th.headdate {
    background-color: #f2f2f2;
}

th.headday {
    width: 40px;
}

th.headdate {
    width: 100px;
}

td.closed {
    background-color: #ccc;
}

td.closed:hover {
    background-color: #ccc;
}

/* Стилі для різних видів занять (lesson-1, lesson-2, lesson-3 і т.д.) */
td .lesson-1,
td .lesson-2,
td .lesson-3,
td .lesson-4 {
    padding: 5px;
}

td .lesson-1 {
    background-color: #ffeeba;
}

td .lesson-2 {
    background-color: #b8daff;
}

td .lesson-3 {
    background-color: #c3e6cb;
}

td .lesson-4 {
    background-color: #f5c6cb;
}

td .lesson-updated {
    background-color: #ffc107;
}

/* Стилі для занять (lesson) */
td .lesson {
    font-weight: bold;
}

/* Стилі для часу (start і end) */
td .start,
td .end {
    display: block;
    font-size: 12px;
    color: #777;
}