body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 700px;
    height: 900px; /* Увеличена высота */
    display: flex;
    flex-direction: column;
}

.history {
    background-color: #f9f9f9;
    padding: 10px;
    height: 100px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
}

.display {
    background-color: #282828;
    color: #fff;
    font-size: 2.5rem;
    padding: 20px;
    text-align: right;
    height: 100px; /* Увеличена высота */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-grow: 1; /* Кнопки занимают оставшееся пространство */
}

.btn {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    font-size: 1.5rem;
    padding: 70px; /* Увеличен padding для больших кнопок */
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #e0e0e0;
}
